* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

/* 清楚浮动部分开始 */
.clearfix:before, 
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* 清楚浮动部分结束 */

.w {
    width: 1200px;
    margin: 0 auto;
}

body {
    background-color: #f3f5f7;
}

.header {
    height: 42px;
    margin: 30px auto;
}

.logo {
    float: left;
    height: 42px;
    width: 196px;
}

.nav {
    float: left;
    margin-left: 70px;
}

.nav ul li {
    float: left;
    margin-left: 26px; 
}

.nav ul li:hover {
    border-bottom: 2px solid #00a4ff;
}

.nav ul li a {
    display: block;
    height: 40px;
    padding: 0 8px;
    line-height: 40px;
    font-size: 18px;
    color: #050505;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 87px;
}

.search input {
    float: left;
    width: 345px;
    height: 38px;
    margin: 1px 0;
    border: 1px solid #00a4ff;
    padding-left: 15px;
    border-right: 0px;
    color: #bfbfbf;
    font-size: 14px;
}

.search button {
    float: left;
    width: 50px;
    height: 40px;
    margin: 1px 0;
    border: 0;
    background-image: url(images/search.png);
}

.user {
    float: right;
    width: 120px;
    height: 42px;
    margin-right: 32px;
}

.user .touxiang {
    float: left;
    width: 32px;
    height: 32px;
    background: url(images/user.png) no-repeat center;
    margin: 5px 6px;
}

.user .name {
    float: left;
    height: 32px;
    margin: 5px 0;
    font-size: 14px;
    color: #666666;
    line-height: 32px;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .w {
    height: 420px;
    background: url(images/banner2.png) no-repeat top center;
}

.banner .subnav {
    float: left;
    height: 420px;
    width: 190px;
    background-color: rgba(0,0,0,.3);
}

.banner .subnav ul {
    margin: 13px 20px;
}

.banner .subnav li a {
    display: block;
    height: 44px;
    width: 150px;
    color: #fff;
    line-height: 44px;
    font-size: 14px;
}

.banner .subnav li a:hover {
    color: #00b4ff;
}

.banner .subnav li a span {
    float: right;
}

.banner .course {
    float: right;
    width: 228px;
    height: 300px;
    background-color: #ffffff;
    margin-top: 50px;
}

.banner .course h2 {
    display: block;
    height: 48px;
    width: 228px;
    background-color: #9bceea;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.banner .course .bd ul {
    padding: 0 18px;
}

.banner .course .bd ul li {
    border-bottom: 1px solid #efefef;
    padding: 14px 0;
}

.banner .course .bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}
.banner .course .bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}
.banner .course .bd>a {
    margin: 5px 14px;
    display: block;
    height: 38px;
    width: 198px;
    border: #22b0ff 1px solid;
    color: #00a4ff;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    font-weight: 700;
}

/* 精品推荐 */
.goods {
    height: 60px;
    background-color: #fff;
    margin-top: 8px;
    box-shadow: 0px 2px 3px 3px rgba(0, 0, 0, .1);
    line-height: 60px;
    text-align: center;
}

.goods h3 {
    display: block;
    float: left;
    width: 132px;
    color: #00a4ff;
    font-size: 16px;
}

.goods ul {
    float: left;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 35px;
    border-left: 1px #ccc solid;
}



.goods>a {
    display: block;
    margin-right: 16px;
    float: right;
    font-size: 14px;
    color: #00a4ff;
}

/* box模块 */

.box {
    margin-top: 30px;
}

.box_hd {
    height: 42px;
}

.box_hd h3 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #494949;
}

.box_hd a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
    margin-right: 30px;
}

.box_bd ul {
    width: 1225px;
}

.box_bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px
}

.box_bd ul li img {
    width: 100%;
}

.box_bd ul li h4 {
    font-size: 14px;
    font-weight: 400;
    color: #050505;
    margin: 25px 20px 20px 24px;
}

.box_bd ul li div {
    margin-left: 24px; 
    font-size: 12px;
    color: #999999;
}

.box_bd ul li div span {
    color: #ff7c2d;
}

.box2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.box2_hd {
    height: 20px;
    margin-bottom: 19px;
}

 .box2_hd h3 {
    float: left;
    font-size: 20px;
    font-weight: 400;
    color: #494949;
    margin-right: 350px;
}

 .box2_hd .index {
    float: left;
    font-size: 16px;
    color: #868686;
    margin: 4px 70px 0 0;
}

 .box2_hd .index:hover {
    color: #00a4ff;
}

 .box2_hd .seeall {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    line-height: 20px;
    margin-right: 30px;
}

 .box2_bd {
    margin-top: 20px;
    width: 1250px;
}

 .box2_bd .pic {
    float: left;
    width: 228px;
    height: 392px;
    margin-right: 14px;
}
 .box2_bd .pic img {
    height: 100%;
}


 .box2_bd .courses {
    float: left;
    width: 970px;
}

 .box2_bd .courses>img {
    width: 957px;
    height: 100px;
    margin-bottom: 20px;
}

 .box2_bd .courses ul li {
    float: left;
    width: 227px;
    height: 269px;
    background-color: #fff;
    margin-right: 15px;
}

 .box2_bd .courses ul li>img {
    width: 100%;
}

 .box2_bd .courses ul li h4 {
    font-size: 14px;
    font-weight: 400;
    color: #050505;
    margin: 25px 20px 20px 24px;
}

 .box2_bd .courses ul li div {
    margin-left: 24px; 
    font-size: 12px;
    color: #999999;
}

 .box2_bd .courses ul div span {
    color: #ff7c2d;
}

.box3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* footer 部分 */
.footer {
    height: 250px;
    background-color: #fff;
}

.footer .w {
    padding-top: 33px;
    padding-left: 20px;
}

.footer .w .copyright {
    float: left;
}

.footer .w .copyright p {
    font-size: 12px;
    color: #666;
    margin: 25px 0 15px 0;
}

.footer .w .copyright .app {
    display: block;
    height: 34px;
    width: 118px;
    border: 1px #00a4ff solid;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .w .links {
    float: right;
}

.footer .w .links dl {
    float: left;
    margin:0 30px 0 100px;
}

.footer .w .links dl dt {
    font-size: 16px;
    color: #333333;
    margin-bottom: 16px;
}

.footer .w .links dl dd {
    font-size: 12px;
    color: #333333;
    margin-bottom: 8px;
}
